<!DOCTYPE html>
<html>

<head>

<title>Cadastro</title>

<style>

body{
background:#050b1a;
font-family:Arial;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.box{
background:#0b1220;
padding:40px;
border-radius:25px;
width:320px;
text-align:center;
}

input{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:12px;
background:#111827;
color:white;
}

button{
width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:12px;
background:#22c55e;
color:white;
}

h1{
color:white;
}

</style>

</head>

<body>

<div class="box">

<h1>🐻 Criar Conta</h1>

<form action="/registrar" method="POST">

<input type="text" name="user" placeholder="Novo usuário">

<input type="password" name="password" placeholder="Nova senha">

<button>
CRIAR CONTA
</button>

</form>

</div>

</body>
</html>
