<!DOCTYPE html>
<html>

<head>

<title>PIX</title>

<style>

body{
background:#050b1a;
font-family:Arial;
color:white;
padding:20px;
}

.box{
background:#0b1220;
padding:25px;
border-radius:20px;
margin-top:20px;
}

input{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:12px;
background:#111827;
color:white;
}

button{
width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:12px;
background:#2563eb;
color:white;
}

</style>

</head>

<body>

<h1>💸 Área PIX</h1>

<div class="box">

<h3>Enviar PIX</h3>

<input placeholder="Chave PIX">

<input placeholder="Valor">

<button>
ENVIAR PIX
</button>

</div>

</body>
</html>
