<!DOCTYPE html>
<html>

<head>

<title>Saque</title>

<style>

body{
background:#050b1a;
font-family:Arial;
color:white;
padding:20px;
}

.box{
background:#0b1220;
padding:25px;
border-radius:20px;
margin-top:20px;
}

input{
width:100%;
padding:15px;
margin-top:15px;
border:none;
border-radius:12px;
background:#111827;
color:white;
}

button{
width:100%;
padding:15px;
margin-top:20px;
border:none;
border-radius:12px;
background:#22c55e;
color:white;
}

</style>

</head>

<body>

<h1>🏧 Área de Saque</h1>

<div class="box">

<form method="POST">

<input
type="number"
name="valor"
placeholder="Digite o valor"
required
>

<button>
SACAR
</button>

</form>

</div>

</body>
</html>
